*{
    margin: 0px;
}

body {
    overflow: hidden;
}


.container {
    height: 100vh;
    width: 100vw;
    background-color: blue;  
}

.pagecontent {
    display: flex;
    background-color: darkslateblue;
    overflow: hidden;
}

.header {
    padding: 10px;
    background-color: black;    
    background-size: cover;
    text-align: center;
    color: blanchedalmond;
    font-family: 'Modak', cursive;
    height: 92px;
}

.sidebar {
    background-color: coral;
    width: 500px;
    padding: 20px;
    padding-top: 30px;
}

.main {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    overflow-y: scroll;
    padding: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    list-style: none;
}

li {
    border: 1px solid black;
    width: 30%;
    height: auto;
}






/* https://medium.com/@beyondborders/beginner-css-grid-sticky-navigation-scrolling-content-7c4de0a8d1dc */